<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div>
  <div>
    <img src="https://whitewise.s3.ap-northeast-2.amazonaws.com/board/%ED%99%94%EB%A9%B4+%EC%BA%A1%EC%B2%98+2022-07-18+225841.png">
  </div>
  <div style="margin-left: 200px" >
  <img src="https://whitewise.s3.ap-northeast-2.amazonaws.com/board/%ED%99%94%EB%A9%B4+%EC%BA%A1%EC%B2%98+2022-07-18+230155.png">

  </div>
      <h1 style="margin-left: 385px; padding-top: 50px;"th:text="${massage}"></h1>
  <div  style="margin-left: 300px; padding-top: 100px">
  <img
       src="https://whitewise.s3.ap-northeast-2.amazonaws.com/board/%ED%99%94%EB%A9%B4+%EC%BA%A1%EC%B2%98+2022-07-18+225600.png">
  </div>
</div>
</body>
</html>