<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>$Title$</title>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&family=Roboto:wght@300;700&display=swap" rel="stylesheet"><body>
<div style="background-color: #F7F2FF; width: 1030px; height: 610px">
  <div style="margin-left: 15px; padding-top: 15px">
    <div>
      <img src="https://whitewise.s3.ap-northeast-2.amazonaws.com/static/passwrod.jpg">
    </div>
    <div style="text-align: center; margin-top: 20px;">
      <h1 style="padding-bottom: 10px; font-size: 35px; font-family: 'Roboto', sans-serif;" th:text="${massage}"></h1>
      <!--          <h1 style="margin-left: 475px; padding-top: 10px; font-family: 'Roboto', sans-serif;">1515asdasd12</h1>-->
    </div>
    <div style="padding-top: 10px">
      <img
              src="https://whitewise.s3.ap-northeast-2.amazonaws.com/static/email2.jpg">
    </div>
  </div>
</div>
</body>
</html>